//Grid

// Breakpoints

/// @example scss - Usage
/// @include breakpoint('40em');

@mixin breakpoint($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

@mixin inverse-breakpoint($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 2.125rem;
  grid-row-gap: 2.125rem;
}
.grid-2 {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap:2.125rem;
  grid-row-gap: 2.125rem;
}
.grid-3 {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap:2.125rem;
  grid-row-gap: 2.125rem;
}

.grid-4 {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap:1rem;
  grid-row-gap: 1rem;
  .IframeWrapper {
    .decreasezoom {display:none;}
  }
  .doublewrapper {
    grid-column: auto / span 2;
    .decreasezoom {display:block;}
  }
  .triplewrapper {
    grid-column: auto / span 3;
    .decreasezoom {display:block;}
  }
  .fullwrapper {
    grid-column: auto / span 4;
    .decreasezoom {display:block;}
    .increasezoom {
      display: none;
    }
  }
  @include inverse-breakpoint(1000px) {
    grid-template-columns: 1fr 1fr;
    .doublewrapper, .triplewrapper, .fullwrapper {
      grid-column: auto / span 2;
    }
    .IframeWrapper{
      .decreasezoom {
        display:none;
      }
      .increasezoom {
        display:block;
      }
    }
    .doublewrapper, .triplewrapper, .fullwrapper {
      .increasezoom {
        display:none;
      }
      .decreasezoom {
        display:block;
      }
    }
  }
  @include inverse-breakpoint(500px) {
    grid-template-columns: 1fr;
    .doublewrapper, .triplewrapper, .fullwrapper {
      grid-column: auto / span 1;
    }
    .IframeWrapper, .doublewrapper, .triplewrapper, .fullwrapper {
      .decreasezoom, .increasezoom {
        display:none;
      }
    }
  }
}
.grid-1-2 {
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap:2.125rem;
  grid-row-gap: 2.125rem;
}
.grid-3-2 {
  display:grid;
  grid-template-columns: 2fr 2fr;
  grid-column-gap:2.125rem;
  grid-row-gap: 2.125rem;
}

.employee-container {}











