// Tabs

.tab-container {}
.tab-selector {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  label {
    font-size:12px;
    text-align:center;
    color:$light-grey;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    border-bottom:2px solid $lighter-grey;
    padding: 5px 0;
    input {
      position:absolute;
      left:-40000px;
    }
    &.active {
      border-bottom-color:$nmlblue;
      color:$nmlblue;
    }
  }
}
.tabs {}
.tab {
  display:none;
  &.active {
    display:block;
  }
}
